#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.info-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  padding: 8px;
}